<a href="https://colab.research.google.com/github/Pedro-Henrique8899-eng/covid-19-data/blob/master/analisando_casos_de_covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Obtenção de Dados

A coleta de dados para análises tem sido um desafio e tanto durante o período pandêmico, uma vez que, as fontes para obtenção de dados são as mais variadas. Temos os dados disponiblizados pelo governo federal, imprensa, pelos estados e os dados não oficiais.

Analisar uma doença nova já é um desafio gigantesco, em um país como o Brasil onde não se tem uma cultura de dados esse desafio se torna ainda maior.

## Dicionário de Variáveis

* ...iso_code - Código
* ...continent - Continente
* ...location - localização
* ...date - data
* ...total_cases - total de casos
* ...new_cases - novos casos
* ...total_deaths - total de mortes
* ...new_deaths - novas mortes
* ...total_cases_per_million - total de casos por milhão
* ...new_cases_per_million - novos casos por milhão
* ...total_deaths_per_million - total de mortes por milhão
* ...total_tests - total de testes
* ...new_tests - novos testes
* ...total_tests_per_thousand - total de testes por mil habitantes
* ...new_tests_per_thousand - novos testes por mil
* ...new_tests_smoothed - novos testes suavizados
* ...new_tests_smoothed_per_thousand - novos testes suavizados por mil 
* ...tests_units - unidades de teste
* ...stringency_index - índice de rigor
* ...population - população
* ...population_density - densidade populacional
* ...median_age - idade média
* ...aged_65_older - com 65 anos de idade
* ...aged_70_older - com 70 anos de idade
* ...gdp_per_capita - PIB per capita
* ...extreme_poverty - pobreza extrema
* ...cvd_death_rate - taxa de mortalidade
* ...diabetes_prevalence - prevalência de diabetes
* ...female_smokers - fumantes femininas
* ...male_smokers - fumantes masculinos
* ...handwashing_facilities - instalações de lavagens das mãos
* ...hospital_beds_per_thousand - leitos de hospital por mil habitantes

## Importando os dados do Covid-19

*  Os dados utilizados nesta análise foram obtidos em (https://https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/owid-covid-data.csv). Utilizaremos o formato `csv` desse arquivo.



*  A variável `df` irá receber o endereço do arquivo

   df = pd.read_csv('Endereço_do_arquivo.csv')

In [1]:
# Importandos as bibliotecas necessárias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
# importar o Dataset da Covid-19 para um DataFrame
df = pd.read_csv('https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/owid-covid-data.csv')


df.head()

  iso_code continent  ... handwashing_facilities hospital_beds_per_thousand
0      AFG      Asia  ...                 37.746                        0.5
1      AFG      Asia  ...                 37.746                        0.5
2      AFG      Asia  ...                 37.746                        0.5
3      AFG      Asia  ...                 37.746                        0.5
4      AFG      Asia  ...                 37.746                        0.5

[5 rows x 33 columns]

In [19]:
df.dtypes

iso_code                            object
continent                           object
location                            object
date                                object
total_cases                        float64
new_cases                          float64
total_deaths                       float64
new_deaths                         float64
total_cases_per_million            float64
new_cases_per_million              float64
total_deaths_per_million           float64
new_deaths_per_million             float64
total_tests                        float64
new_tests                          float64
total_tests_per_thousand           float64
new_tests_per_thousand             float64
new_tests_smoothed                 float64
new_tests_smoothed_per_thousand    float64
tests_units                         object
stringency_index                   float64
population                         float64
population_density                 float64
median_age                         float64
aged_65_older                      float64
aged_70_older                      float64
gdp_per_capita                     float64
extreme_poverty                    float64
cvd_death_rate                     float64
diabetes_prevalence                float64
female_smokers                     float64
male_smokers                       float64
handwashing_facilities             float64
hospital_beds_per_thousand         float64
dtype: object

## Análise Exploratória de Dados